/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

#header_instruction {
  background: #e6e6fa;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
  font-size: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#record-section, #regForm {
  background: #fffdea;
}

#record-section {
  padding-top: 20px;
}

table, table td, table th{
  /*border : 1px solid #000000;*/
  margin-left: auto;
  margin-right: auto;
}

.score_mg {
  width: 50%;
}

.removeBtn {
  color: #ff0000;
}

input, select {
  border-radius: 4px;
  height: 30px;
}

